* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a,
a:focus,
button,
button:focus,
input,
input:focus,
img,
img:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.clearfix::after,
.row::after,
.clearfix::before,
.row::before {
  clear: both;
  display: block;
  content: '';
}
.p5 {
  padding: 5px;
}
.p5-10 {
  padding: 5px 10px;
}
.p-10 {
  padding: 10px;
}
.py-10 {
  padding: 10px 0;
}
.py-15 {
  padding: 15px 0;
}
.py-20 {
  padding: 20px 0;
}
.py-30 {
  padding: 30px 0;
}
.py-60 {
  padding: 60px 0;
}
.pb-15 {
  padding-bottom: 15px;
}
.my-15 {
  margin: 15px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-50 {
  margin: 50px 0;
}
.top0 {
  top: 0;
}
.left0 {
  left: 0;
}
.right0 {
  right: 0;
}
.w-33 {
  width: 33.3333333%;
}
.no-display {
  display: none;
}
.no-display-important {
  display: none !important;
}
.activeClass {
  display: block;
}
.rotate {
  transform: rotateY(180deg);
}
@font-face {
  font-family: OpenSans;
  src: url(../css/fonts/OpenSans-Regular.ttf);
}
body {
  font-family: OpenSans;
  font-size: 13px;
}
.no_display {
  display: none;
}
/********  SIDEBAR  *********/
#container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
#logo {
  margin: 0 auto;
  width: 150px;
}
#logo img {
  margin: 0 auto;
}
#sidebar {
  width: 300px;
  height: 100%;
  background-color: #201f40;
}
#sidebar nav li {
  font-size: 1.5em;
  cursor: pointer;
}
#sidebar nav li:hover {
  background-color: #63618b;
}
#sidebar nav a {
  color: #fff;
}
#sidebar button {
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.contact_wrapper {
  bottom: -25px;
}
.contact address,
.contact a {
  color: #63618b;
}
.contact address::before,
.contact a::before {
  font-family: "FontAwesome";
  padding-right: 10px;
}
.contact address::before {
  content: '\f041';
}
.contact a {
  display: block;
}
.contact .mail::before {
  content: '\f0e0';
}
.contact .tel::before {
  content: '\f095';
}
.social li i {
  color: #63618b;
  font-size: 1em;
  border: 1px solid #63618b;
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.social li i:hover {
  color: #fff;
  border-color: #fff;
}
.social li:first-child i {
  padding: 5px 7px;
}
/********  HEADER  *********/
#content {
  margin-left: 300px;
}
#header {
  background-color: #5972ac;
  color: #fff;
}
#header .language_list {
  background-color: #5972ac;
  top: 100%;
  z-index: 1;
  width: 150px;
}
#header .language_list li {
  cursor: pointer;
}
#header .language_list li:hover {
  background-color: #63618b;
}
#header .language_choice {
  width: 150px;
  line-height: 29px;
  cursor: pointer;
}
#header .language_choice::after {
  content: '\f107';
  font-family: "FontAwesome";
  font-size: 1.5em;
  padding-left: 20px;
  position: absolute;
  top: 23px;
}
#header .book {
  color: #fff;
  border: 1px solid #fff;
}
.booking_form_wrapper {
  width: 300px;
  background: rgba(89, 114, 172, 0.9);
  top: 100%;
  z-index: 2;
  right: 0;
}
.booking_form_wrapper .check_in_wrapper,
.booking_form_wrapper .check_out_wrapper {
  height: 100px;
}
.booking_form_wrapper label {
  display: block;
}
.booking_form_wrapper input {
  width: 100%;
  height: 30px;
  color: #63618b;
  font-size: 1.2em;
  border: 2px solid #a1a0b9;
  padding: 5px 15px 5px 10px;
}
.booking_form_wrapper #adult,
.booking_form_wrapper #children {
  width: 130px;
}
.booking_form_wrapper .check_in_wrapper::after,
.booking_form_wrapper .check_out_wrapper::after {
  font-family: "FontAwesome";
  color: #a1a0b9;
  position: absolute;
  right: 15px;
  top: 40px;
}
.booking_form_wrapper .check_in_wrapper::after,
.booking_form_wrapper .check_out_wrapper::after {
  content: '\f073';
}
.check_btn {
  color: #fff;
  background-color: #a1a0b9;
  border-color: #a1a0b9;
}
.preloader_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  background-color: white;
  left: 0;
}
.preloader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader span {
  font-size: 1.2em;
  color: #63618b;
}
/**** BOOKING FORM-DATEPICKER *****/
.datepicker {
  width: 250px;
  padding: 0;
  border: 2px solid #a1a0b9;
}
.datepicker .table-condensed {
  width: 100%;
  margin: 10px 0;
}
.datepicker .table-condensed thead {
  color: #201f40;
  margin-bottom: 10px;
}
.datepicker .table-condensed thead tr:last-child {
  font-size: .8em;
}
.datepicker .table-condensed tbody {
  color: #63618b;
}
.datepicker .table-condensed tbody tr .today {
  background-color: #e6e6ff;
  background-image: none;
  border-radius: 0 !important;
}
.datepicker .table-condensed tbody tr .today:hover {
  background-color: transparent !important;
}
.datepicker .table-condensed tbody tr .active {
  background-color: #63618b !important;
  background-image: none !important;
  color: #fff !important;
  border-radius: 0 !important;
}
.select2-container {
  width: 100% !important;
}
.form-control {
  padding: 0 !important;
  border-radius: 0 !important;
}
.select2-choice {
  border-radius: 0 !important;
}
.select2-chosen {
  color: #63618b !important;
}
.select2-results {
  color: #63618b !important;
}
.adult_wrapper,
.children_wrapper {
  width: 60px;
}
.select2-choice {
  height: 45px !important;
  line-height: 45px !important;
}
.select2-arrow b {
  margin-top: 10px !important;
}
/********  HOME PAGE  *********/
#home_page #main_title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#home_page #main_title h1 {
  font-size: 4em;
}
#home_page #main_title p {
  font-size: 2em;
}
#home_page #main_title button {
  font-size: 1.7em;
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
}
#auto_slider {
  overflow: hidden;
}
#auto_slider img {
  height: 100vh;
}
.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-dots .slick-active button {
  background-color: #201f40;
}
.slick-dots li {
  float: left;
}
.slick-dots li button {
  font-size: 0;
  padding: 5px;
  margin-right: 5px;
  border: 3px solid #201f40;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li button:hover {
  background-color: #201f40;
}
/********  ROOMS PAGE  *********/
section {
  margin: 0 160px;
}
.offer_container {
  margin-bottom: 60px;
}
h2 {
  font-size: 2em;
  color: #63618b;
  border-bottom: 1px solid #63618b;
}
.filter_rooms li {
  color: #63618b;
  font-size: 1.3em;
  cursor: pointer;
  border-bottom: 1px solid #63618b;
  padding: 10px;
}
.filter_rooms li:hover {
  background-color: #a1a0b9;
  color: #fff;
}
.filter_btn {
  color: #63618b;
  top: -55px;
  right: 15px;
}
.offer_content {
  overflow: hidden;
}
.offer_content:hover .offer_name_wrapper {
  bottom: 100px;
}
.price {
  background-color: #201f40;
  color: #fff;
  font-size: 0.9em;
  left: 20px;
  width: 60px;
}
.triangle {
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 30px 0 0;
  border-color: #201f40 transparent transparent transparent;
}
.offer_name_wrapper {
  transition: bottom ease 0.5s;
  -webkit-transition: bottom ease 0.5s;
  bottom: 55px;
}
.offer_name_wrapper h3 {
  font-size: 1.3em;
  color: #fff;
}
.offer_name_wrapper .book_room {
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 15px;
}
.offer_name_wrapper .offer_name {
  background-color: #201f40;
}
/********  ROOMS REVIEW PAGE  *********/
.title_wrapper {
  cursor: pointer;
}
.title_wrapper .back {
  bottom: 20px;
  font-size: 1.1em;
  color: #63618b;
}
.title_wrapper .back::before {
  content: '\f177';
  font-family: "FontAwesome";
  padding-right: 5px;
}
.room_img_wrapper img {
  border: 6px solid #a1a0b9;
}
.room_details {
  color: #63618b;
}
.room_details a {
  color: #fff;
  background-color: #201f40;
  padding: 5px 20px;
  font-size: 1em;
}
.room_details_title {
  border-bottom: 1px solid #63618b;
}
.room_details_title h3 {
  font-size: 1.4em;
  line-height: 15px;
}
.room_details_title span {
  line-height: 15px;
  font-size: 1.3em;
}
.room_details_title span:last-child {
  border-left: 1px solid #63618b;
}
.room_details_content li {
  padding: 10px 10px 10px 25px;
}
.room_details_content li::before {
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
}
.room_details_content li:first-child::before {
  content: '\f236';
}
.room_details_content li:nth-child(2)::before {
  content: '\f0f5';
}
.room_details_content li:nth-child(3)::before {
  content: '\f1eb';
}
.room_details_content li:nth-child(4)::before {
  content: '\f0f3';
}
.room_details_content li:nth-child(5)::before {
  content: '\f26c';
}
.room_details_content li:last-child::before {
  content: '\f017';
}
.room_details_social div:first-child {
  border-right: 1px solid #63618b;
}
.room_details_social ul {
  text-align: right;
}
.room_details_social ul i {
  padding: 5px;
}
.room_details_social ul i:hover {
  color: #201f40;
}
.room_details_social ul .facebook i {
  padding: 5px 7px;
}
.room_details_social span::before {
  content: '\f0e5';
  font-family: "FontAwesome";
  padding-right: 10px;
}
.rating span {
  font-size: 1.2em;
}
#grid_gallery {
  padding: 0 4px;
}
#grid_gallery div {
  flex: 50%;
  max-width: 50%;
}
#grid_gallery div img {
  vertical-align: middle;
  border: 2px solid #a1a0b9;
  cursor: pointer;
}
.gallery_view_img {
  border: 5px solid #63618b;
}
/********  RESERVATION REVIEW PAGE  *********/
#reservation_review_section {
  color: #63618b;
}
#reservation_review_section span {
  font-size: 1.4em;
}
#reservation_review_section .booking_form_wrapper {
  background-color: transparent;
}
#reservation_review_section .select2-chosen {
  font-size: 1em !important;
}
.selected_room_wrapper {
  border-bottom: 1px solid #63618b;
}
.selected_room_wrapper h3 {
  font-size: 1.8em;
  padding: 20px 15px;
}
.booking_form_wrapper input {
  height: 45px;
}
.booking_form_wrapper .check_in_wrapper::after,
.booking_form_wrapper .check_out_wrapper::after,
.booking_form_wrapper .room_type_wrapper::after,
.booking_form_wrapper .adult_wrapper::after,
.booking_form_wrapper .children_wrapper::after {
  top: 50%;
}
.checkout {
  background-color: #201f40;
  color: #fff;
  font-size: 1.6em;
}
.checkout:hover {
  color: white;
  background-color: #63618b;
}
/********  RESERVATION REVIEW BOOKING FORM  *********/
/********  RESERVATION REVIEW PAGE  *********/
#reservation_review_section .billing_title {
  font-size: 1.6em;
}
#js_checkout_form div label {
  font-size: 1.4em;
}
#js_checkout_form div label::after {
  content: '*';
  color: red;
  padding-left: 5px;
  font-weight: normal;
  font-size: .8em;
}
#js_checkout_form div label:nth-child(3) {
  content: "";
}
#js_checkout_form div input {
  height: 45px;
  border: 2px solid #63618b;
  color: #63618b;
}
#js_checkout_form div:nth-child(3) label::after {
  content: '';
}
#js_checkout_form button {
  font-size: 1.2em;
  margin: 0 auto;
}
/********  RESTAURANT PAGE *********/
.restaurant_wrapper {
  color: #63618b;
  margin: 0 auto;
}
.restaurant_wrapper p {
  font-size: 1.2em;
}
.offer_container {
  color: #fff;
}
/********  MEETING PAGE  *********/
.meeting_wrapper {
  margin: 0 auto;
}
.meeting_offer {
  color: #63618b;
  font-size: 1.4em;
}
.meeting_offer i {
  font-size: 2em;
}
/******** SERVICES PAGE  *********/
.services_offer {
  border-bottom: 1px solid #63618b;
  color: #63618b;
}
.services_offer p {
  font-size: 1.1em;
}
.services_offer:nth-child(2) .price {
  right: 20px;
}
.services_offer .services_img_content {
  border: 5px solid #a1a0b9;
  overflow: hidden;
}
.services_offer img {
  transition: .8s;
}
.services_offer img:hover {
  -ms-transform: scale(1, 4);
  -webkit-transform: scale(1, 4);
  transform: scale(1.4);
}
/******** GALLERY PAGE  *********/
#main_gallery {
  margin-bottom: 60px;
}
#main_gallery > div:hover div {
  visibility: visible;
}
.gallery_hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  transition: .2s linear;
  -webkit-transition: .2s linear;
}
.gallery_hover .image_title {
  font-size: 1.3em;
}
.like::before,
.share::before {
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #fff;
}
.like::before {
  content: '\f164';
}
.share::before {
  content: '\f1e0 ';
}
#gallery_view {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(89, 114, 172, 0.8);
}
#gallery_view .footer {
  background-color: rgba(89, 114, 172, 0.8);
  width: 100%;
  bottom: 0;
  color: #fff;
}
#gallery_view .footer .image_title {
  font-size: 1.2em;
}
#gallery_view .exit {
  top: 10px;
  right: 10px;
  color: #fff;
}
#gallery_view .slick-active {
  width: 500px !important;
}
.gallery_view_content {
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  max-width: 500px;
}
.js_gallery {
  overflow: hidden;
}
.js_gallery img {
  width: 100%;
}
.js_gallery .slick-prev,
.js_gallery .slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 0;
}
.js_gallery .slick-prev:before,
.js_gallery .slick-next:before {
  font: 60px/1 'FontAwesome';
  color: #fff;
}
.js_gallery .slick-prev {
  left: 20px;
}
.js_gallery .slick-prev:before {
  content: "\f104";
}
.js_gallery .slick-next {
  right: 20px;
}
.js_gallery .slick-next:before {
  content: "\f105";
}
/******** BLOG PAGE  *********/
.blog_container {
  color: #63618b;
}
.blog_container .social li i:hover {
  color: #201f40;
  border-color: #201f40;
}
.blog_container p {
  font-size: 1.2em;
}
.blog_container a {
  color: #fff;
  background-color: #63618b;
}
.blog_container img {
  border: 10px solid #a1a0b9;
}
.comments {
  border-bottom: 1px solid #63618b;
  font-size: 1.1em;
}
.comments li {
  border-right: 1px solid #63618b;
}
.comments li::before {
  font-family: "FontAwesome";
  padding-right: 10px;
}
.comments li:first-child::before {
  content: '\f040';
}
.comments li:nth-child(2)::before {
  content: '\f133';
}
.comments li:last-child {
  border: 0;
}
.comments li:last-child::before {
  content: '\f0e5';
}
.comment .date,
.comment time {
  font-size: 1.1em;
}
/******** BLOG SIDEBAR  *********/
#blog_sidebar {
  padding: 60px 15px;
  color: #63618b;
}
#blog_sidebar input {
  height: 60px;
  color: #63618b;
  border: 1px solid #63618b;
}
#blog_sidebar input::placeholder {
  font-size: 1.2em;
  color: #63618b;
}
#blog_sidebar .search button {
  color: #63618b;
  top: 50%;
  transform: translate(-50%, -50%);
}
#blog_sidebar h4 {
  border-bottom: 2px solid #63618b;
}
.recent_posts .posts {
  border-bottom: 2px solid #63618b;
}
.recent_posts .posts h5 {
  font-size: 1.3em;
}
.recent_posts .posts p {
  font-size: 1.1em;
}
.recent_posts .posts ul {
  border-bottom: 0;
}
.recent_posts .posts ul li {
  font-size: .8em;
}
.recent_posts .posts ul li::before {
  padding-right: 2px;
}
.tags li {
  cursor: pointer;
}
.tags li a {
  color: #63618b;
  font-size: 1.2em;
  border: 1px solid #63618b;
}
.tags li a:hover {
  color: #fff;
  background-color: #63618b;
}
/******** BLOG REVIEW PAGE  *********/
.blog_all {
  color: #63618b;
}
.comment {
  border-bottom: 1px solid #63618b;
}
.comment span {
  font-size: 1.4em;
}
.comment .comment_content {
  padding-left: 40px;
}
.comment .comment_content::before {
  content: '\f007 ';
  font-family: "FontAwesome";
  font-size: 1.3em;
  color: #fff;
  position: absolute;
  padding: 2px 10px;
  left: 0px;
  background-color: #a1a0b9;
}
.write_comment h4 {
  color: #63618b;
}
.write_comment textarea,
.write_comment input {
  color: #63618b;
  border: 2px solid #63618b;
}
.write_comment textarea {
  height: 140px;
}
.write_comment textarea::placeholder {
  color: #63618b;
  font-size: 1.3em;
}
.write_comment label {
  color: #63618b;
  font-size: 1.3em;
}
.write_comment label::after {
  content: '*';
  color: red;
}
.write_comment input {
  height: 60px;
}
.write_comment button {
  color: #fff;
  background-color: #201f40;
  border: 2px solid #63618b;
  font-size: 1.2em;
}
.write_comment button:hover {
  background-color: #63618b;
}
/******** CONTACT PAGE  *********/
#contact_wrapper {
  color: #63618b;
  font-size: 1.4em;
}
#contact_wrapper textarea,
#contact_wrapper input {
  color: #63618b;
  border: 2px solid #63618b;
}
#contact_wrapper input {
  height: 60px;
}
#contact_wrapper textarea {
  height: 140px;
}
#contact_wrapper textarea::placeholder {
  color: #63618b;
}
#contact_wrapper button {
  color: #fff;
  background-color: #201f40;
  border: 2px solid #63618b;
  font-size: 1.2em;
}
#contact_wrapper button:hover {
  background-color: #63618b;
}
.form-field:first-child label::after,
.form-field:nth-child(2) label::after {
  content: "*";
  color: red;
  padding-left: 5px;
}
#map {
  height: 400px;
}
.error {
  color: #eb2629;
}
/******** FOOTER  *********/
#footer {
  background-color: #201f40;
}
/******** RESPONSIVE DESIGN  *********/
@media (max-width: 1550px) {
  #sidebar {
    width: 300px;
  }
  #content {
    margin-left: 300px;
  }
  section {
    margin: 0 80px;
  }
}
@media (max-width: 1200px) {
  .write_comment div {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  #sidebar {
    width: 100%;
    height: auto !important;
    position: relative !important;
  }
  #sidebar .contact_wrapper {
    display: none;
  }
  #sidebar button {
    display: block;
  }
  #nav_menu {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #201f40;
    right: 0;
    width: 200px;
    padding: 0 !important;
  }
  #nav_menu li {
    padding: 0 20px;
  }
  #content {
    margin-left: 0;
  }
  .billing_method img {
    margin: 0 auto;
  }
  #footer {
    display: block;
  }
}
@media (max-width: 768px) {
  section {
    margin: 0 15px;
  }
  .room_details_title {
    padding-top: 40px;
  }
  #contact .contact_wrapper {
    padding: 30px 0;
  }
  #services_section .services_offer:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  #services_section .services_offer:nth-child(2) > div {
    flex: none;
  }
}
@media (max-width: 576px) {
  #main_gallery > div {
    width: auto !important;
    margin: 0 auto;
  }
  .filter_btn {
    display: block;
  }
  .comments li {
    border: 0;
  }
  .filter_rooms_wrapper {
    padding: 10px !important;
  }
  .filter_rooms {
    display: none ;
    position: absolute;
    z-index: 1;
    background: white;
    top: -8px;
    right: 15px;
    width: 180px;
  }
  .filter_rooms li {
    float: none !important;
  }
  .filter_rooms li:last-child {
    border: 0;
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0 15px !important;
  }
  .back {
    top: 0;
  }
  .room_details_title h3 {
    width: 100%;
    text-align: center;
  }
  .room_details_title span {
    margin-top: 15px;
  }
  .room_details_social div {
    text-align: center !important;
    padding: 10px 0;
    border-right: 0 !important;
  }
  .comment .name {
    width: 100%;
  }
  #grid_gallery div {
    flex: 100%;
    max-width: 100%;
  }
}
